.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  padding-left: 48px;
  text-decoration: none;
  max-height: 42px;
}

.khan__buy-link:hover {
  opacity: .3;
  transition: 3s;
}